.total-view {
	-fx-alignment: center-right;
	-fx-spacing: 5;
	-fx-pref-width: 585px;	
}

.total-view Label{
	-fx-font-weight: bold;
	-fx-padding: 5;
	-fx-font-size: 18px;
	-fx-pref-width: 180px;
	-fx-alignment: center-right ;
}

.type-btns {
	-fx-alignment: center ;
}

.total-income {
	-fx-background-color: rgb(102,204,255);
	-fx-text-fill: rgb(102,255,255);
}

.total-expense {
	-fx-background-color: rgb(255,0,0);
	-fx-text-fill: rgb(0,255,255);
}

.total-profit {
	-fx-background-color: rgb(255,128,0);
	-fx-text-fill: rgb(0,255,255);
}
